.main-car-detail {
  background-color: antiquewhite;
  padding: 10px;
}
.product-compra--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--warm-black);
}
.product-compra--card .product--icon-verefy {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center;
}
.product--compra-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  font-family: "DM Sans", sans-serif;
  color: var(--just-white);
  margin: 10px 0;
}

.product-compra--card .porduct-compra--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  font-family: "DM Sans", sans-serif;
  color: #808080;
}

@media (min-width: 930px) {
  .main-car-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
