.container-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header-container--carrito-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  text-align: center;
  align-self: center;
  height: 120px;
}

.header-container--carrito-title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--soft-orange);
}

.header-container--carrito-title p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
